@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Heading";
  src: url("/CopernicusTrial-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Body";
  src: url("/CopernicusTrial-Book.ttf") format("truetype");
}

h1 {
  font-family: "Heading";
  font-size: 40px;
  color: #386136;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}

.aida-text {
  font-family: heading;
  color: #386136;
}

div {
  font-family: "Body";
}

.scrollable-div::-webkit-scrollbar {
  width: 6px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #f4f1f4;
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: transparent;
}

input:focus {
  outline: none;
  box-shadow: none;
}
